/* .header{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    background-color: #87ceeb;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-inline-start: 20px;
    border-radius: 20px;
}

.designs{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-left: 10px;
   
}

.designs img{
    background-color: #b1efff;
    border-radius: 20px;
}

body{
    background-color: #dbeff8;
} */
